# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Popular languages that Data Scientists using.
- Common libraries used in Data Science.
- Arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

| list |
| ------ |
| R |
| C++ |
| Java |

Some of the commonly used libraries used by Data Scientists include:

|list|
|------|
|matplotlib|
|Numpy|
|Scipy|

|Data Science Tools|
|------|
|Anaconda nevigator|
|Rstudio|
|JupyterIDE|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers.

In [16]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [19]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
PinChi Tsai